.sidenav-container {
  height: 100%;
  
}

.sidenav {
  width: 200px;
  background-color: #FF5252;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.mat-list-item{
  color:white;
}