<mat-card>       
    <p>
        <mat-card-title><h1>Balance Enquiry</h1></mat-card-title>
    </p>
    <h3 style="color:#FF4081">{{validationError}}</h3>
    <form [formGroup]="formGroup" (ngSubmit)="balanceEnquiry()">
        <p>
            <mat-form-field fxFlex="40%">
                <mat-label>Source Account</mat-label>
               <!--  [(ngModel)]="selectedAccount" -->
                <mat-select formControlName="sourceAcc">
                    <mat-option *ngFor="let account of userAccArr" [value]="account.value">
                      {{account.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </p>
        
        <button type="submit" mat-flat-button color="primary" mat-button>Check Balance</button>
    </form> 
</mat-card> 
<div >
    <mat-card *ngIf="userAccBal.accName">
        <mat-card-title><h1>Balance Enquiry Results</h1></mat-card-title>
        <mat-content>
            <h3>Acc Name: {{userAccBal.accName | uppercase }}</h3> 
            <h3>Acc Number: {{userAccBal.accNumber}} </h3>
            <h3>Acc Balance: <b>{{userAccBal.balance | currency:'KES ':'code' }}</b> </h3>

        </mat-content>
    </mat-card>
</div>
<!-- <h1>Accounts list</h1>
<ul *ngFor="let acc of accountlist">
    <li>{{acc.accNumber}}</li>
    <li>{{acc.accName}}</li>
    <li>{{acc.balance}}</li>
    <li>{{acc.username}}</li>
</ul> -->
<!-- <form class="form-signin" method="get" (ngSubmit)="logout()">
    <button class="" type="submit">Logout</button>
</form> -->